.button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primary {
  background: var(--green);
  color: var(--white);
}
.danger {
  background: var(--red);
  color: var(--white);
}
.info {
  background: var(--light-blue);
  color: var(--white);
}
.focused{
  background: var(--dark-blue);
  color: var(--white);
}