.wrapper {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 16px;
  border: 1px solid;
  border-color: var(--medium-gray);

  text-align: left;
}
.table tbody  tr:nth-child(2n+1){
  background-color: var(--stripped-gray);
}
.table td button:last-child{
  margin-left: 0.1em;
}